@import 'colors';
@import 'variables';
@import 'mixin';
@import 'buttons';

* {
    @include reset;
}

#root {
    font-family: $firstfont;

    .header {
        background-image: url($jumbotron);
        width: $max;
        height: 800px;
        background-size: cover;
        background-position: -300px;

        &-bar {
            @include flexAlignBetween;

            width: $max;
            height: 120px;
            position: relative;
            z-index: 5;

            .logo {
                margin: $margin-first 35px;
            }
            
            .menu {
                
                ul {
                    @include flexAlignBetween;
                    list-style: none;

                    li {
                        margin-right: 40px;
                        font-size: 12px; 
                        font-weight: 500;
                        color: $cubeDaisy                       
                    }
                }
            }
        }

        &-content {
            @include flexAlignBetween;
            @include fullSize;

            &-main {
                width: 420px;
                margin: 0 0 280px 100px;
                color: $cubeTobbaco;

                .upper-title {
                    @include upper-style;
                }

                h1 {
                    @include title-style;
                    font-size: 56px;
                    line-height: 68px;
                }

                .text {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 30px;
                }

                .explore {
                    @include whitebutton;

                    width: 200px;
                    height: 40px;
                    margin-top: $margin-first;
                }
            }

            .demo {
                margin-bottom: 650px;

                &-btn {
                    @include symbol-btn;
    
                    width: 66px;
                    height: 66px;
                    margin: 30px;
                }
            }
        }
    }

    .main {
        width: 1300px;
        margin: 0 auto;

        &-first-content {
            @include flexAlignBetween;
            @include basicContent;

            height: auto;

            .infobox {
                width: 450px;
                height: 400px;

                .upper-title {
                    @include upper-style;
                }

                h2 {
                    @include title-style;

                    font-size: 36px;
                    line-height: 46px;
                }

                .shopping {
                    @include bluebutton;

                    width: 200px;
                    height: 40px;
                    margin-top: $margin-first;
                }
            }
    
            .slider {
                @include flexAlignBetween;
       
                .image{
                    margin-left: $margin-first;
                    position: relative;

                    &  .black-hover {
                        @include blackhover;
                        width: 400px;
                        height: 510px;
                        

                        h3 {
                            font-weight: 400;
                            font-size: 22px;
                            line-height: 29px;
                        }

                        .subtitle {
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 26px;
                        }

                        .price {
                            font-weight: 600;
                            font-size: 32px;
                            line-height: 40px;
                        }
                    }

                    &:hover  .black-hover {
                        display: block; 
                        cursor: pointer;
                    }

                    .arrow {
                        @include arrow-button;
                        @include flexCenter;
                    }

                    .right {
                        margin-left: 360px;
                    }
                }                
            }
        }

        &-second-content {
            @include basicContent;

            height: auto;

            .title {
                text-align: center;

                .upper-title {
                    @include upper-style;

                    color: $cubeAtoll;
                }

                h2 {
                    @include title-style;

                    font-size: 32px;
                }
            }
            
            .content {
                @include flexAlignBetween;

                width: $max;

                &-show-1 {
                    background: url($corporate);
                    @include showImage;

                    width: $halfWidth-50px;

                    .hover-1 {
                        background: url($corporate-hover);

                        @include hoverImage;
                        @include hoverText;
                    }

                    &:hover {

                        .hover-1 {
                            display: block;
                        }
                    }
                }

                &-show-2 {
                    background: url($wedding);

                    @include showImage;

                    width: $halfWidth-50px;

                    .hover-2 {
                        background: url($wedding-hover);

                        @include hoverImage;
                        @include hoverText;
                    }

                    &:hover {

                        .hover-2 {
                            display: block;
                        }
                    }
                }

                

            }
        }

        &-third-content {
            @include flexAlignAround;
            @include basicContent;

            height: auto;

            .info-box {
                width: 300px;
                text-align: center;

                h2 {
                    @include title-style;

                    font-size: 36px;
                    line-height: 46px;
                }

                .subtitle {
                    color: $cubeAtoll;
                    font-size: 16px;
                    line-height: 29px;
                }

                .show-shop {
                    @include bluebutton;

                    width: 150px;
                    height: 40px;
                    margin-top: $margin-first;
                }
            }

            .slider {
                @include flexBaseBetween;
                position: relative;

                .arrow {
                    @include arrow-button;
                    @include flexCenter;
                }

                .left {
                    left: 20px;
                }

                .right {
                    right: 0;
                }

                .card {
                    margin-left: $margin-first;

                    &-image {
                        position: relative;
                        width: 233px;

                        img {
                            height: 297px;
                        }

                        &-hover {
                           @include blackhover;
                           width: $max;
                           height: $max;
                           padding-top: $min;
                        }

                        &:hover {
                            .card-image-hover {
                                @include flexCenter;
                            }
                        }
                    }

                    &-text {
                        @include title-style;

                        width: $max;
                        text-align: center;
                        font-size: 24px;
                        line-height: 35px;

                        .price {
                            font-weight: 400;
                            font-size: 22px;
                        }
                    }
                }
            }
        }

        &-fourth-content{
            
            @include basicContent;

            background: url($process-1);
            background-size: cover;
            color: $cubeWhite;

            .black-back {
                @include fullSize;

                background: $cubeBlack;
            }

            .first {
                @include flexAlignBetween;
                @include processTitle;
                h2 {
                    margin-left: 60px;
                }

                .number {
                    margin-top: -90px;
                    margin-right: 60px;
                }
            }

            .second {
                @include processText;
            }

            .half {
                @include halfVerticalSpace;
            }
        }

        &-fifth-content {
            @include flexAlignBetween;
            @include basicContent;

            .left-container {
                background: url($process-2);
                width: $halfWidth-20px;
                height: $max;
                background-size: cover;
                background-position: right;

                .black-back {
                    @include fullSize;
                    
                    background: $cubeBlack;
                }

                .first {
                    @include flexAlignBetween;
                    @include processTitle;

                    color: $cubeWhite;
                    h2 {
                        margin-left: 60px;
                    }
    
                    .number {
                        margin-top: -90px;
                        margin-right: 60px;
                    }
                }
    
                .second {
                    @include processText;

                    .text {
                        width: 50%;
                        margin-left: 50px;
                        color: $cubeWhite;
                    }
                }
    
                .half {
                    @include halfVerticalSpace;
                }
            }

            .right-container {
                background: $cubeQuiteWhite;
                width: $halfWidth-20px;
                height: $max;
                text-align: justify;
                padding: 50px;

                .upper-title {
                    @include upper-style;
                }

                .text {
                    @include title-style;
                    font-size: 44px;
                }
            }
        }

        &-sixth-content {
            @include basicContent;
            background: url($process-3);
            background-size: cover;
            color: $cubeWhite;

            .black-back {
                @include fullSize;

                background: $cubeBlack;
            }

            .first {
                @include flexAlignBetween;
                @include processTitle;
                h2 {
                    margin-left: 60px;
                }

                .number {
                    margin-top: -90px;
                    margin-right: 60px;
                }
            }

            .second {
                @include processText;

                .text {
                    margin-left: 60px;
                }
            }

            .half {
                @include halfVerticalSpace;
            }
        }

        &-seventh-content {
            @include flexAlignBetween;
            @include basicContent;

            

            img {
                width: $max;
            }   

            .left-container {
                @include halfHorizontalSpace;

                .text {
                    width: $max;
                    transform: translate(0px, -4px);
                    height: $fullHeight-430px;
                    background: $cubeQuiteWhite;
                    text-align: center;

                    @include location;
                }
            }

            .right-container {
                @include halfHorizontalSpace;

                .text {
                    width: $max;
                    transform: translate(0px, -4px);
                    height: $fullHeight-430px;
                    background: $cubeChalk;
                    text-align: center;

                    @include location;
                }
            }             
        }

        &-eighth-content {
            @include basicContent;

            .first-half {
                @include flexAlignBetween;
                @include halfVerticalSpace;
                
                &-image {
                    @include quarterHorizontalSpace;

                    img {
                        @include fullSize;
                    }
                }

                &-center {
                    @include flexCenter;
                    @include halfHorizontalSpace;

                    flex-direction: column;
                    background: $cubeQuiteWhite;

                    .upper-title {
                        @include upper-style;
                        color: $cubeAtoll;
                    }

                    h2 {
                        @include title-style;
                        font-size: 36px;
                        line-height: 46px;
                    }

                    .share {
                        @include bluebutton;

                        width: 120px;
                        height: 40px;
                    }
                }
            }

            .second-half {
                @include flexAlignBetween;
                @include halfVerticalSpace; 

                margin-top: 30px;

                &-image {
                    @include quarterHorizontalSpace;

                    img {
                        @include fullSize;
                    }
                }
            }
        }
    }
}
