@import 'colors';
@import 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    font-family: $firstfont;

    .header {
        background-image: url($jumbotron);
        width: 100%;
        height: 800px;
        background-size: cover;
        background-position: -300px;

        &-bar {
            @include flexAlignBetween;

            width: 100%;
            height: 120px;
            position: relative;

            .logo {
                margin: 20px 35px;
            }
            
            .menu {
                
                ul {
                    @include flexAlignBetween;
                    list-style: none;

                    li {
                        margin-right: 40px;
                        font-size: 12px; 
                        font-weight: 500;
                        color: $cubeDaisy                       
                    }
                }
            }
        }

        &-content {
            @include flexAlignBetween;

            width: 100%;
            height: 100%;

            &-main {
                width: 420px;
                margin: 0 0 280px 100px;
                color: $cubeTobbaco;

                .upper-title {
                    @include upper-style;
                }

                h1 {
                    @include title-style;
                    font-size: 56px;
                    line-height: 68px;
                    
                }

                .text {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 30px;
                }

                .explore {
                    @include whitebutton;

                    width: 200px;
                    height: 40px;
                    margin-top: 20px;
                }
            }

            .demo {
                margin-bottom: 650px;

                &-btn {
                    @include symbol-btn;
    
                    width: 66px;
                    height: 66px;
                    margin: 30px;
                }
            }

            
        }
    }

    .main {
        width: 100%;

        &-first-content {
            @include flexAlignBetween;
            margin-top: 30px;

            .infobox {
                width: 450px;
                height: 400px;
                margin-left: 50px;

                .upper-title {
                    @include upper-style;
                }

                h2 {
                    @include title-style;

                    font-size: 36px;
                    line-height: 46px;
                }
                .shopping {
                    @include bluebutton;

                    width: 200px;
                    height: 40px;
                    margin-top: 20px;
                }
            }
    
            .slider {
                @include flexAlignBetween;

                width: 600px;
                margin-right: 300px;
                
                 
                .image{
                    margin-right: 20px;
                    position: relative;

                    &  .black-hover {
                        @include blackhover;
                        width: 400px;
                        height: 510px;

                        &:nth-of-type(2) {
                            margin-left: 420px;
                        }
                    }

                    &:hover  .black-hover {
                        display: block;
                    }

                    
                }                
            }
        }

        &-second-content {
            width: 100%;
            text-align: center;

            .title {
                margin-top: 50px;

                .upper-title {
                    @include upper-style;
                }
                h2 {
                    @include title-style;

                    font-size: 32px;
                }
            }
            
            .content {
                @include flexAlignAround;

                width: 100%;

                &-show-1 {
                    background: url($corporate);
                    @include showImage;

                    .hover-1 {
                        background: url($corporate-hover);

                        @include hoverImage;
                        
                    }

                    &:hover {

                        .hover-1 {
                            display: block;
                        }
                    }
                }

                &-show-2 {
                    background: url($wedding);
                    @include showImage;

                    .hover-2 {
                        background: url($wedding-hover);

                        @include hoverImage;
                    }

                    &:hover {

                        .hover-2 {
                            display: block;
                        }
                    }
                }
            }

            
        }
        

        
    }
}
