$cubeBlack: rgba(0, 0, 0, 0.3);
$cubeWhite: #ffffff;
$cubeTobbaco: #6a5243;
$cubeCod: #0e0e0d;
$cubeManatee: #929295;
$cubeAtoll: #0a5e6c;
$cubeChalk: #f0caa1;
$cubeSienna: #d68843;
$cubePerfume: #bda2f3;
$cubeDaisy: #3698db;
$cubeLaurel: #287a00;
$cubeQuiteWhite: #f0edf5;


$medianOuter: #282d2c;
$medianPearl: #e9dedc;
$medianMillbrook: #694a3a;
$medianLeather: #9f7651;
$medianMamba: #878589;

$materialDriftwood: #b77c49;
$materialSandrift: #b2927b;
$materialAtoll: #086875;
$materialSpruce: #344747;
$materialTan: #d6b28d;
