@mixin reset {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin flexAlignBetween  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexBaseBetween  {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

@mixin flexAlignAround  {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin basicContent {
    margin-top: $margin-second;
    width: $max;
    height: 650px;
}

@mixin upper-style {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

@mixin title-style {
    font-family: $secondfont;
    color: $cubeDaisy;
    margin: $margin-first 0;
    font-weight: 700;
}

@mixin blackhover {
    display: none;
    position: absolute;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    top: $min;
    text-align: center;
    padding-top: 200px;
    color: $cubeWhite;
}

@mixin hoverText {

    text-align: center;
    padding-top: 280px;

    .upper-title {
        color: $cubeWhite;
        font-size: 16px;
        line-height: 30px;
    }

    h2 {
        color: $cubeWhite;
        font-size: 34px;
        line-height: 30px;
    }

    .explore {
        @include bluebutton;

        width: 120px;
        height: 40px;
        margin-top: 15px;
    }
}

@mixin showImage {
    background-size: cover;
    width: 700px;
    height: 720px;
}

@mixin hoverImage {
    display: none;
    width: $max;
    height: $max;
    background-size: cover;
}

@mixin processTitle {
    h2 {
        width: $half;
        font-weight: 700;
        font-size: 56px;
        line-height: 68px;
    }

    .number {
        font-weight: 200;
        font-size: 96px;
        line-height: 96px;
    }
}

@mixin processText {
    .text {
        width: 35%;
        font-size: 18px;
        line-height: 30px;
        margin-top: 50px;
        margin-left: 60%;

        h4 {
            color: $cubeWhite;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 15px;
        }
    }
}

@mixin halfHorizontalSpace {
    width: $half;
    height: $max;
}
@mixin halfVerticalSpace {
    width: $max;
    height: $half;
}

@mixin quarterHorizontalSpace {
    width: calc(25% - 10px);
    height: $max;
}

@mixin fullSize {
    width: $max;
    height: $max;
}