$jumbotron: '../img/hero-header-bakery.jpg';
$corporate: '../img/corporate-bg.jpg';
$corporate-hover: '../img/corporate-hover-bg.jpg';
$wedding: '../img/wedding-bg.jpg';
$wedding-hover: '../img/wedding-hover-bg.jpg';

$firstfont: Work Sans, sans-serif;
$secondfont: Source Serif Pro, serif;

@mixin flexAlignBetween  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexBaseBetween  {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

@mixin flexAlignAround  {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin upper-style {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

@mixin title-style {
    font-family: $secondfont;
    color: $cubeDaisy;
    margin: 20px 0;
    font-weight: 700;
}

@mixin blackhover {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0px;        
}

@mixin showImage {
    background-size: cover;
    width: 700px;
    height: 720px;
}

@mixin hoverImage {
    display: none;
    width: 100%;
    height: 100%;
    background-size: cover;
}